#columns.ytd-watch-flexy {
    flex-direction: row-reverse !important;
    overflow-x: auto !important;
}

#secondary.ytd-watch-flexy {
    padding-left: var(--ytd-margin-6x) !important;
    padding-right: 0 !important;
}