#player-full-bleed-container.ytd-watch-grid {
    flex-direction: row !important;
}
#columns.ytd-watch-grid {
    display: flex !important;
    flex-direction: row-reverse !important;
}
#fixed-columns-secondary.ytd-watch-grid{
    flex-direction: row-reverse !important;
}
#secondary {
    left: 0 !important;
}
#secondary.ytd-watch-flexy {
    padding-left: 24px !important; 
    padding-right: 0px !important;
}
#columns {
    flex-direction: row-reverse !important;
}
